@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f4ea;
  font-family: "Pangolin", cursive;
  padding: 15px;
}

#main-content div {
  padding-top: 10px;
  font-size: 22px;
  font-family: "Bangers", cursive;
}

p a {
  font-size: 12px;
}

div li {
  font-size: 18px;
  background: #ffcd28;
  border: solid black;
  border-radius: 10px;
  margin: 4px 10px;
  text-decoration: none;
}

img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
  border: solid 2px;
  /* border-radius: 13px;
  border-color: #c0b9dd; */
  margin: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  /* border: dashed 2px;
  border-radius: 5px; */
  background-image: url("../images/923.jpg");
  background-size: cover;
  filter: grayscale(0%);
  border: dashed 5px 1s0px;
  padding: 10px;
  /* background: #ffcd28; */
  /* filter: drop-shadow(0px 0px 20px #cd0000); */
}

h1 {
  font-family: "Bangers", cursive;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin: 5px;
  border: black dashed 2px;
  background: white;
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation-name: title-header;
    animation-duration: 2s;
  }
}

@keyframes title-header {
  0% {
    background-color: white;
    border-radius: 0px;
  }
  50% {
    background-color: #ffcd28;
    border-radius: 30px;
  }
}

h2 {
  font-family: "Bangers", cursive;
  /* font-weight: semibold; */
  font-size: 22px;
  padding-top: 5px;
}

.skip-to-content {
  color: #006666;
  text-decoration: underline;
  top: -500px;
  left: -500px;
  position: absolute;
}

footer {
  /* background-image: url("../images/923.jpg"); */
  /* position: absolute; */
  /* background-image-height: 100%; */
  left: 0px;
  width: 100%;
  border: dashed 1px;
  border-radius: 13px;
  /* margin: 20px 30px; */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(10px); */
  /* padding: 10px; */
  font-size: 20px;
  /* font-style: italic; */
  text-decoration: underline;
}

a {
  /* color: #2e69c3; */
  color: black;
  /* font-size: 20px; */
  text-decoration: none;
}

nav {
  text-align: center;
}

p {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  font-family: "Pangolin", cursive;
  line-height: 1.75;
}

ul {
  display: grid;
  font-family: "Bangers", cursive;
}

div ul {
  display: flex;
  text-align: center;
  overflow: auto;
  font-family: "Bangers", cursive;
}

li {
  display: grid;
  padding: 10px 20px;
}

#return-main-content {
  text-align: right;
  padding: 10px;
  position: absolute;
}

dt {
  font-size: 24px;
  margin: 10px;
  font-family: "Bangers", cursive;
}

dd {
  margin: 5px 10px;
  font-size: 18px;
  font-style: semibold;
  text-decoration: none;
}

dd p {
  margin: 5px 10px;
  border: black 2px dashed;
  border-radius: 10px;
  padding: 20px;
}

.tops {
  position: fixed;
  /* text-align: right; */
  right: 0;
  bottom: 0;
  padding: 15px;
  margin: 10px;
  background: #ffcd28;
  border-radius: 300px;
}

.bubble {
  /* cap the width */
  /* give ample whitespace around and inside of the container */
  /* margin: 2rem 0; */
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "Bangers", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
  /* position relative for the :before pseudo element */
  /* position: relative; */
  font-color: black;
  font-size: 22px;
}

.bubble--active {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
}

#searchBox {
  font-size: 22px;
  margin: 0px 5px;
}

/* Portrait Mode tablet view */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img {
    width: 75%;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 28px;
  }
  #main-content div {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
}

/* Landscape Mode tablet view */
@media screen and (min-device-width: 1000px) and (max-device-width: 1300px) {
  img {
    width: 50%;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 28px;
  }
  #main-content div {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
}
